<!DOCTYPE html>
<html>
<head>
  <title>ChatRoom</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= yield :header %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header>
		<%= render 'layouts/banner' %>
		<%= render 'layouts/nav_bar' %>
	</header>
	<main>
		<%= yield %>
	</main>

</body>
</html>
